<%- include('../htmlend.ejs')  %> 

<section class="section">
    <div class="container">
        <p class="title has-text-centered is-1 is-hidden-mobile">Outing management System</p>
        <p class="title has-text-centered is-1 is-hidden-desktop is-hidden-tablet">OMS</p>
    </div>
</section>
<!-- Registration Part Section -->
<style type="text/css">

</style>
</head>

<body>
    <p class="title has-text-centered">Register Here</p>
    <div class="columns">
        <div class="column is-4 has-offset-2"></div>
        <div class="column ">
            <form action="/auth/register">
                <div class="column ">
                    <label class="label">Student Name</label>
                    <div class="control ">
                        <input class="input " type="text" placeholder="Student name">
                        <span class="icon">
                        </span>
                    </div>


                    <label class="label">Registration number</label>
                    <div class="control ">
                        <input class="input " type="number" placeholder="Registration number">
                        <span class="icon">
                        </span>
                    </div>


                    <label class="label">Roll number</label>
                    <div class="control ">
                        <input class="input " type="number" placeholder="Roll number">
                        <span class="icon">
                        </span>
                    </div>


                    <label class="label"> Select year</label>
                    <div>
                        <select class="input" type="text">
                            <option value="none" selected disabled hidden>Select your current year of study</option>
                            <option value="I Btech"> I Btech
                            </option>
                            <option value="II Btech"> II Btech
                            </option>
                            <option value="III Btech"> III Btech
                            </option>
                            <option value="IV Btech"> IV Btech
                            </option>
                        </select>
                    </div>
                    <br>

                    <label class="label">Branch </label>
                    <div class="control ">
                        <input class="input " type="text" placeholder="Branch">
                        <span class="icon">
                        </span>
                    </div>


                    <label class="label">Gender</label>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="answer">
                            Male
                        </label>
                        <label class="radio">
                            <input type="radio" name="answer">
                            Female
                        </label>
                    </div>
                    <br>

                    <label class="label">Block name</label>
                    <div class="control ">
                        <input class="input " type="text" placeholder="Block">
                        <span class="icon">
                        </span>
                    </div>


                    <label class="label">Room number</label>
                    <div class="control ">
                        <input class="input " type="number" placeholder="Room number">
                        <span class="icon">
                        </span>
                    </div>


                    <label class="label">Email</label>
                    <div class="control ">
                        <input class="input " type="email" placeholder="Email">
                        <span class="icon">
                        </span>
                    </div>


                    <label class="label">Student's phone Number</label>
                    <div class="control ">
                        <input class="input " type="number" placeholder="  Student Number">
                        <span class="icon">
                        </span>
                    </div>


                    <label class="label">Parent's phone Number</label>
                    <div class="control ">
                        <input class="input " type="number" placeholder="Parent Number">
                        <span class="icon">
                        </span>
                    </div>


                    <label class="label">Password</label>
                    <div class="control ">
                        <input class="input " type="password" placeholder="Password">
                        <span class="icon">
                        </span>
                    </div>


                    <label class="label">Confirm Password</label>
                    <div class="control ">
                        <input class="input " type="password" placeholder="Confirm Password">
                        <span class="icon">
                        </span>
                    </div>

                </div>
                <div class="control has-text-centered">
                    <button type='submit' class="button is-link has-text-centered">Register</button>
                </div>
        </div>
        <div class="column is-one-quarter"></div>
        </form>
    </div>

<%- include('../htmlhead.ejs')  %> 