<%- include('../htmlend.ejs')  %>

<section class="section">
    <div class="container">
        <p class="title has-text-centered is-1 is-hidden-mobile">Outing management System</p>
        <p class="title has-text-centered is-1 is-hidden-desktop is-hidden-tablet">OMS</p>
    </div>
</section>
<!-- Registration Part Section -->
<style type="text/css">

</style>
</head>

<body>
    <p class="title has-text-centered">Register Here</p>
    <div class="columns">
        <div class="column is-4 has-offset-2"></div>
        <div class="column ">
            <form name="registerForm"action="/auth/wardenregister" method="post" onSubmit="return validateForm()">
                <div class="column ">
                    <label class="label">Warden Name</label>
                    <div class="control ">
                        <input name="name" class="input " type="text" placeholder="Warden name">
                        <span class="icon">
                        </span>
                    </div>

                    <label class="label">Block name</label>
                    <div>
                        <select name="blockid" class="input" type="text">
                            <option value="" selected disabled hidden>Select Block Name</option>
                            <% for(let block of blocks) { %>
                                <option value="<%=block._id%>"><%=block.name%></option>
                            <% }%>
                        </select>
                    </div>
                    <br>
                    

                    <label class="label">Phone Number</label>
                    <div class="control ">
                        <input name="mobileNumber" class="input " type="number" placeholder="  Phone Number">
                        <span class="icon">
                        </span>
                    </div>

                    <label class="label">Email</label>
                    <div class="control ">
                        <input name="mail" class="input " type="email" placeholder="Email">
                        <span class="icon">
                        </span>
                    </div>


                    <label class="label">Password</label>
                    <div class="control ">
                        <input  name="pass" class="input " type="password" placeholder="Password">
                        <span class="icon">
                        </span>
                    </div>


                    <label class="label">Confirm Password</label>
                    <div class="control ">
                        <input name="confirmPassword" class="input " type="password" placeholder="Confirm Password">
                        <span class="icon">
                        </span>
                    </div>

                </div>
                <div class="control has-text-centered">
                    <button class="button is-link has-text-centered">Register</button>
                </div>
        </div>
        <div class="column is-one-quarter"></div>
        </form>
    </div>

    <script src="/js/wardenRegister.js"></script>

    <%- include('../htmlhead.ejs')  %>