<nav class="navbar  ">
    <div class="navbar-brand ml-2  mr-2">
        <a href="../home/<%=user._id%>">
        <div class="navbar-item ">
            
            <img src="https://www.nitandhra.ac.in/main/images/logo.png" class="image mr-2" alt="logo"
                style="max-height: 70px" />
            <p class="title has-text-centered ">
                <strong class="is-hidden-mobile">Outing Management System</strong>
                <strong class="is-hidden-desktop is-hidden-tablet">OMS</strong>
            </p>
        </div>
    </a>
    </div>
    

        <a class="navbar-burger mt-5" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="navbar-menu " id="navbarmenu">





        <div class="navbar-end is-flex is-justify-content-space-between mt-2" id="navbarexample">
            
            <div class="navbar-item ">
                <div class="container">
                    <p><%=user.name%></p>
                    <p><%=user.block.name%> block</p>
                </div>
            </div>
            <a href="../profile/<%=user._id%>">
            <div class="navbar-item">
                <img src="https://www.hardiagedcare.com.au/wp-content/uploads/2019/02/default-avatar-profile-icon-vector-18942381.jpg"
                    alt="" style="max-height: 70px" />
            </div>
            </a>
            <form action="/auth/logout"method="post">
            <div class="navbar-item mt-3">
                <button class="button is-link is-normal">log-out</button>
            </div>
            </form>
            <!-- <div class="navbar-item">
                <button class="button is-primary is-normal">login</button>
            </div> -->
        </div>
    </div>
    </div>
</nav>