<%- include('../htmlhead.ejs')  %> 
<%- include('../partials/navbar.ejs')  %>
<section class="section">

    <div class="container">
        <p class="title">Active Passes</p>
        
        <a href="#">
            <div class="card mt-4 has-background-success">
                <div class="card-content">
                    <div class="content">
                        <p class="is-size-5">Date : 22nd December</p>
                        <p class="is-szie-5">Non-Local</p>
                </div>
            </div>
        </div>
    </a>
    
    <a href="#">
        <div class="card mt-4 has-background-success">
            <div class="card-content">
                <div class="content">
                    <p class="is-size-5">Date : 22nd December</p>
                    <p class="is-szie-5">Local</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="card mt-4 has-background-success">
            <div class="card-content">
                <div class="content">
                    <p class="is-size-5">Date : 22nd December</p>
                    <p class="is-szie-5">Non-Local</p>
                </div>
            </div>
        </div>
    </a>
</div>
</section>

<%- include('../htmlend.ejs')  %> 