<%- include('../htmlhead.ejs')  %> 
<%- include('../partials/navbar.ejs')  %> 

<section class="section">
    <div class="container">
        <div class="column is-8 is-offset-2">
            <div class="message">
                <div class="message-header has-background-success">
                    <p></p>
                </div>
            </div>
            <label class="label">Date :</label>
            <p>24th Nov 2021</p>
            <label for="" class="label">Type :</label>
            <p>Non-Local</p>
            <label for="" class="label">Description :</label>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis nam ipsum, amet beatae suscipit quo
                in! Sapiente, quae? Nemo eum, dolorem repudiandae aliquam nam velit reprehenderit maxime maiores
                laboriosam doloribus quas, aliquid libero totam voluptas. Veritatis dolor ex natus temporibus porro!
                Fugit, sint sequi excepturi ad tempore aliquid repellat dolorum.</p>
            <form action="" class="mt-6 container has-text-centered">
                <button class="button is-link is-medium">Use</button>
            </form>
        </div>
    </div>
</section>

<%- include('../htmlend.ejs') %> 