</body>
<!-- Navbar button code -->
<script>


    var burger = document.getElementById("burger");
    var menu = document.getElementById("navbarexample");
    const nab = document.getElementById("navbarmenu")
    burger.addEventListener("click", () => {
        console.log("gdsgdsds");
        nab.classList.toggle("is-active");
    }
    )

</script>
</html>