<%- include('../htmlhead.ejs') %> 
<%- include('../partials/navbar.ejs') %> 
<section class="section">
    <div class="columns">
        <div class="column">
            <div class="container">
                <p class="title">Warden Details :</p>
                <div class="container">
                    <p class="is-size-4">Mr. Kurmayya</p>
                    <p class="is-size-4">Indravathi Block</p>
                    <p class="is-size-4">1234567890</p>
                    <p class="is-size-4">kurmi@mail.com</p>
                </div>
            </div>
            <section class="section">
                <div class="container">
                    <button class="button is-link ml-6">History</button>
                    <button class="button is-link ml-6">Request</button>
                </div>
            </section>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column is-10">
                    <p class="title">Active Passes</p>
                </div>

                <div class="column is-2">
                    <div class="container">
                        <a href="#" class="button is-link is-outlined">More</a>
                    </div>
                </div>
            </div>

            <a href="">
                <div class="card has-background-success">
                    <div class="card-content">
                        <div class="content">
                            <p class="is-size-5">Date : 22 Dec 2022</p>
                        </div>
                    </div>
                </div>
            </a>

            <div class="columns mt-1">
                <div class="column is-10">
                    <p class="title">Pending Passes</p>
                </div>
                <div class="column is-2">
                    <div class="container">
                        <a href="#" class="button is-link is-outlined">More</a>
                    </div>
                </div>
            </div>
            <a href="">
                <div class="card has-background-danger">
                    <div class="card-content">
                        <div class="content">
                            <p class="is-size-5">Date : 22 Dec 2022</p>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</section>

<% include('../htmlend.ejs')  %> 