<%- include('../htmlhead.ejs') %> 
<%- include('../partials/navbar.ejs') %>

   

        <div class="container column is-6 is-offset-3 has-text-centered">
            <img class="profile-img" width="200" height="200"
            src="https://www.hardiagedcare.com.au/wp-content/uploads/2019/02/default-avatar-profile-icon-vector-18942381.jpg"
            alt="profile-img" />
            <h1 class="title">Tulumuri Krishna Madhav</h1>
        <div class="column is-6 is-offset-3 has-text-centered">
            <div class="is-flex is-justify-content-space-between">
                <p class="is-size-4">Mail : </p>
                <p class="is-size-4">Madhava@mail.com</p>
            </div>
            <div class="is-flex is-justify-content-space-between">
                <p class="is-size-4">Phone : </p>
                <p class="is-size-4">8688466782</p>
            </div>
            <div class="is-flex is-justify-content-space-between">
                <p class="is-size-4">Branch : </p>
                <p class="is-size-4">CSE</p>
            </div>
            <div class="is-flex is-justify-content-space-between">
                <p class="is-size-4">Block : </p>
                <p class="is-size-4">Indravathi</p>
            </div>
        </div>
    </div>

    <%- include('../htmlend.ejs') %> 